<header>
    <div  style="height:60px;background-color:#002985;color:white" class="navbar navbar-dark  shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            
            <strong style="font-size: 30px;">ConvertedIn</strong>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="searchBy" 
                       (input)="changeFilterBy($event.target)"
                  placeholder="search products">
            </div>
            <span class="fas fa-search search-icon"></span>


        </div>
        <button routerLink="cart" class="btn ">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger">5</div>
        </button>
    </div>
</header>
